# Ignorar archivos y directorios de dependencias
/node_modules
/vendor

# Archivos de configuración y otros archivos de sistema
*.log
.DS_Store
.env
.env.backup
.env.production
/.idea
/.vscode
/public/storage
/public/build
/public/hot
/storage/*.key
/storage/pail
Homestead.json
Homestead.yaml
Thumbs.db

# Archivos de composer y npm
composer.lock
package-lock.json

# Otros archivos específicos de entorno
*.key
*.pem
